<!--<div class="content">-->
<!--  <section id="leftSide">-->
<!--   <section id ="title">-->
<!--     NOTRE PROJET-->
<!--   </section>-->
<!--  </section>-->
<!--  <section id="leftSide1">-->
<!--    Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam-->
<!--    conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos aut inter-->
<!--    paucos iungeretur.-->
<!--  </section>-->
<!--</div>-->

<div class="content">
  <h1 class="titler">OpenNotes</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="pages">
    <div class="blocContent">
      <div><h2>OpenNotes</h2>
        <p>Un projet innovant qui va révolutionner la gestion d'une école.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto commodi cumque cupiditate ea est exercitationem, fuga in maxime modi necessitatibus, omnis provident quae quaerat sit sunt vel, veritatis voluptatum! TRUE STORY.</p>
        <button type="button" class="btn btn-outline-primary">Savoir plus</button>
      </div>
    </div>
    <div class="blocContent3">
      <div id="icone1" class="containerIconeFLottante">
        <div id="icone-grading" class="iconeFlottante">
        </div>
      </div>
      <div id="icone2" class="containerIconeFLottante">
        <div id="icone-courses" class="iconeFlottante">
        </div>
      </div>
      <div id="icone3" class="containerIconeFLottante">
        <div id="icone-user" class="iconeFlottante">
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
